{% extends 'base.html' %}
{% block content %}
    <img src="{{ user.profile.img.url }}" class="img-thumbnail" >
    <h3 class="text-left">{{user.full_name}}</h3><br/><br/>

    {% if request.user.id == user.id %}
        <a href="{% url 'home:post_create' %}" class="btn btn-primary">Create Post</a>
        <a href="{% url 'accounts:edit_user' %}" class="btn btn-info">Edit Profile</a>
    {% endif %}

    {% if request.user.id != user.id and not is_following %}
        <a class="btn btn-primary" href="{% url 'accounts:user_follow' user.id %}">Follow</a>
    {% elif request.user.id != user.id and is_following %}
        <a class="btn btn-primary" href="{% url 'accounts:user_unfollow' user.id %}">Unfollow</a>
    {% endif %}

    {% if request.user.id != user.id%}
        <a class="btn btn-primary" href="{% url 'accounts:message' user.id %}">message</a>
    {% endif %}<br/><br/>

    {% for post in posts %}
        <div class="card bg-dark text-white">
            <p class="card-header"> {{ post.created }}</p>
            <a href="{{ post.get_absolute_url }}" class="card-body">{{ post.body|truncatewords:8 }}</a>
        </div>
    {% empty %}
     <p>No comments yet!</p>
    {% endfor %}
{% endblock %}